* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

header {
    height: 30px;
    width: 100%;
    background-color: var(--color-five-30);
}

.header__inner {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__item__link {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.content__base__page {
    margin-top: 15px;
    margin-left: 15px;
}