{% load static %}

<link rel="stylesheet" href="{% static 'Driver/css/base_page.css' %}">
<header>
    <div class="header__inner">
        <div>
            <p>Hello, ABC</p>
        </div>
        <div>
            <a href="#" class="header__links">Đơn hàng cần giao</a>
        </div>
    </div>
</header>