{% load static %}

<link rel="stylesheet" href="{% static 'Driver/css/base_page.css' %}">
<header>
    <div class="header__inner">
        <div>
            <p>Hello, ABC</p>
        </div>
        <div>
            <a href="{% url 'Driver_app:Driver_order_need_delivery' %}" class="header__links">Đơn hàng cần giao</a>
            <a href="#" class="header__links">Đơn hàng đang giao</a>
            <a href="#" class="header__links">Đơn hàng giao thành công</a>
            <a href="#" class="header__links">Cập nhật trạng thái đơn hàng</a>
            <a href="{% url 'Driver_app:Driver_log_out' %}" class="header__links">Đăng xuất</a>
        </div>
    </div>
</header>
<div class="content_driver_page">
    {% block content_driver_page %}

    {% endblock %}
</div>