{% extends 'Driver/base_page.html' %}
{% load static %}

{% block content_driver_page %}
    <div class="update__status__item">
        <form method="post">
            {% csrf_token %}
            <label>Input Code Order :</label>
            <input type="text" name="input_code_order">
            <select name="select_status_order">
                <option value="None">Choose Status</option>
                <option value="Delivery">Delivery</option>
                <option value="Success">Success</option>
                <option value="Cancel">Cancel</option>
            </select>
            <input type="submit" value="Update">
        </form>
    </div>

    {% if notification_update_status %}
        <div class="notification__update__status">
            <p>{{msg_update_status}}</p>
        </div>
    {% endif %}
{% endblock %}