{% extends 'Driver/base_page.html' %}
{% load static %}

{% block content_driver_page %}
    <div class="update__status__item">
        <label>Input Code Order :</label>
        <input type="text" name="input_code_order">
        <select name="select_status_order">
            <option value="None">Choose Status</option>
            <option value="Delivery">Delivery</option>
            <option value="Success">Success</option>
            <option value="Cancel">Cancel</option>
        </select>
    </div>

    {% if msg_update_status %}

    {% endif %}
{% endblock %}