{% extends 'Driver/base_page.html' %}
{% load static %}

{% block content_driver_page %}
    <div class="update__status__item">
        <label>Input Code Order :</label>
        <input type="text" name="input_code_order">
    </div>
{% endblock %}