<form method="post">
    {% csrf_token %}
    <div class="add__customer-item">

    </div>
    <div class="add__customer-item">
        
    </div>
    <div class="add__customer-item">
        
    </div>
</form>