{% load static %}

<link rel="stylesheet" href="{% static 'Sales/css/add_new_customer.css' %}">
<form method="post">
    {% csrf_token %}
    <div class="add__customer-item">
        <label>Gmail :</label>
        <input type="text" name="new_customer_gmail">
    </div>
    <div class="add__customer-item">
        <label>Telephone :</label>
        <input type="tel" name="new_customer_tel">
    </div>
    <div class="add__customer-item add__customer__division">
        <div>
            <label>Province :</label>
            <select name="new_customer_province">
                <option value="None">Chọn tỉnh</option>
            </select>
        </div>
        <div>
            <label>District :</label> 
            <select name="new_customer_district">
                <option value="None">Chọn huyện</option>
            </select>  
        </div>
        <div>
            <label>Ward :</label>
            <select name="new_customer_ward">
                <option value="None">Chọn xã</option>
            </select>
        </div>
    </div>
    <div class="add__customer-item">
        <label>Full name :</label>
        <input type="text" name="new_customer_full_name">
    </div>
    <div class="add__customer-item">
        <label>Gender</label>
        <select name="new_customer_gender">
            <option value="None">Choose Gender</option>
            <option value="1">Men</option>
            <option value="2">Woman</option>
            <option value="3">Other</option>
        </select>
    </div>
    <div class="add__customer-item">
        <label>Type :</label>
        <select name="new_customer_type">
            <option value="None">Choose Type :</option>
            <option value="personal">Personal</option>
            <option value="company">Company</option>
        </select>
    </div>
</form>