<form method="post">
    {% csrf_token %}
    <div class="add__customer-item">
        <label>Gmail :</label>
        <input type="text" name="new_customer_gmail">
    </div>
    <div class="add__customer-item">
        <label>Telephone :</label>
        <input type="tel" name="new_customer_tel">
    </div>
    <div class="add__customer-item">
        <div>
            <label>Province :</label>
            <select name="new_customer_province">
                <option value="None">Chọn tỉnh</option>
            </select>
        </div>
        <div>
            <label>District :</label> 
            <select name="new_customer_district">
                <option value="None">Chọn huyện</option>
            </select>  
        </div>
        <div>
            <label>Ward :</label>
            <select name="new_customer_ward">
                <option value="None">Chọn xã</option>
            </select>
        </div>
    </div>
</form>