{% load static %}

<link rel="stylesheet" href="{% static 'Sales/css/homepage.css' %}">
<script src="{% static 'Sales/javascript/homepage.js' %}" defer></script>
<!-- Button ở dưới cùng -->
<div class="group__btn__tab">
    <a class="btn__tab__link" id="default__open__tab">Information</a>
    <a class="btn__tab__link">Account</a>
    <a class="btn__tab__link">Customer</a>
    <a class="btn__tab__link">Contract</a>
    <a class="btn__tab__link">History</a>
</div>
<!-- Kết thúc các nút -->

<div class="option__tab__customer">
    <button class="option__tab__customer-item default__tab__customer">Add new customer</button>
    <button class="option__tab__customer-item">Show all customer</button>
</div>