{% load static %}

<div class="tab__content" id="tab__information">
    <div class="tab__information__item">
        <p class="information__item__title">About</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, magni. Atque exercitationem dicta eius aperiam doloremque nostrum rem. Labore fugiat magnam tenetur nulla culpa unde rerum voluptas eius? Error, accusantium.</p>
    </div>
    <div class="tab__information__item">
        <p class="information__item__title">About</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sunt doloremque ipsam reprehenderit culpa explicabo cupiditate beatae sequi minima quos, commodi, autem nulla incidunt nam? Voluptas perspiciatis maiores quod veniam.</p>
    </div>
    <div class="tab__information__item">
        <p class="information__item__title">About</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima necessitatibus temporibus voluptate quaerat natus officia! Aspernatur architecto error fugit corrupti ab porro impedit dignissimos dolor mollitia. Fugit nemo odio tenetur veniam ab! Repudiandae quaerat assumenda error reprehenderit nisi debitis exercitationem numquam. Earum nemo nesciunt in ad nobis aliquam dolores consectetur, eaque facere repellendus. Consequuntur quaerat exercitationem aspernatur, saepe sed inventore qui perferendis accusantium itaque debitis, nobis magnam dicta assumenda harum iure explicabo dolorum doloribus. Error corrupti numquam reprehenderit est sit dolore minima officiis quos sequi repellat neque, aliquid laborum? Fugit quis fugiat error, dolore nobis ad, nulla et repudiandae, non ipsum amet magnam rem eligendi possimus? Ipsum doloremque reprehenderit omnis voluptates fugit nemo earum saepe provident eligendi nobis excepturi ut consequatur aut dicta maiores nulla impedit, voluptate eius doloribus, dolores voluptatibus vel! Enim quo cumque quisquam. Sapiente, architecto excepturi. Sapiente architecto sint possimus quod earum soluta facere excepturi iste cum veritatis, pariatur repudiandae voluptatum, ea vero voluptates provident minus est assumenda recusandae labore quos tempora repellendus quisquam. Distinctio perspiciatis expedita consequuntur dolorum in harum reprehenderit porro officia, cumque dolores, eum accusamus reiciendis aperiam placeat, nisi est dolor. Facere assumenda exercitationem fugiat officia fuga vitae obcaecati ullam autem adipisci, dolores nostrum commodi a reiciendis unde ipsum quaerat earum facilis sequi libero voluptate, quas, perspiciatis maxime! Expedita mollitia distinctio ipsa possimus numquam similique consequatur vitae ab sed officiis, nesciunt tenetur veritatis aliquid. Porro, repudiandae praesentium autem saepe adipisci soluta eum tenetur enim atque consectetur itaque mollitia commodi asperiores ipsam sint quisquam dolore minima eveniet odit deserunt ex ratione earum magnam? Fuga earum fugiat eius culpa aspernatur nam sunt modi ex animi totam vero dignissimos, dolore quos, nisi laboriosam velit nobis ipsum quam quisquam optio in dolorem. Doloremque quas nemo expedita suscipit est ea reiciendis unde totam perspiciatis, tempora nihil dolores amet debitis?</p>
    </div>
    <div class="tab__information__item">
        <p class="information__item__title">About</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, neque dolorem. Aspernatur, odit iste! Corrupti ab eveniet odio deserunt provident labore reprehenderit perspiciatis atque minus, ad quaerat assumenda cupiditate nemo eligendi molestias at dignissimos facere, corporis esse eius ipsa, architecto sequi? Vitae excepturi quis inventore sapiente voluptates, nihil dolore laudantium harum nemo cumque impedit fugiat modi fuga accusantium est sint similique officiis nisi natus ex, dicta quibusdam fugit aspernatur aliquam! Dolor eum expedita aliquid deleniti saepe assumenda perspiciatis soluta magni, animi quia sit dignissimos repellendus debitis, autem, dolore placeat eligendi suscipit quaerat error. Ipsam voluptatum soluta porro aut repudiandae cum!</p>
    </div>
</div>

<div class="tab__content" id="tab__account">

</div>

<div class="tab__content" id="tab__contract">

</div>

<div class="tab__content" id="tab__history">

</div>

<link rel="stylesheet" href="{% static 'Sales/css/homepage.css' %}">
<script src="{% static 'Sales/javascript/homepage.js' %}" defer></script>
<!-- Button ở dưới cùng -->
<div class="group__btn__tab">
    <button class="btn__tab__link" onclick="open_tab('tab__information', this, 'red')" id="default__open__tab">Information</button>
    <button class="btn__tab__link" onclick="open_tab('tab__account', this, 'green')">Account</button>
    <button class="btn__tab__link" onclick="open_tab('tab__contract', this, 'blue')">Contract</button>
    <button class="btn__tab__link" onclick="open_tab('tab__history', this, 'orange')">History</button>
</div>
<!-- Kết thúc các nút -->