<!-- Button ở dưới cùng -->
<button class="btn__tab__link">Information</button>
<button class="btn__tab__link">Account</button>
<button class="btn__tab__link">Contract</button>
<button class="btn__tab__link">History</button>
<!-- Kết thúc các nút -->