{% load static %}

<script src="{% static 'Sales/javascript/homepage.js' %}"></script>
<!-- Button ở dưới cùng -->
<button class="btn__tab__link" onclick="open_tab('Information', this, 'red')" id="default__open__tab">Information</button>
<button class="btn__tab__link" onclick="open_tab('Account', this, 'green')">Account</button>
<button class="btn__tab__link" onclick="open_tab('Contract', this, 'blue')">Contract</button>
<button class="btn__tab__link" onclick="open_tab('History', this, 'orange')">History</button>
<!-- Kết thúc các nút -->