{% load static %}

{% include 'Sales/tab_information.html' %}
{% include 'Sales/tab_account.html' %}
{% include 'Sales/tab_contract.html' %}
{% include 'Sales/tab_history.html' %}
{% include 'Sales/tab_customer.html' %}

<link rel="stylesheet" href="{% static 'Sales/css/homepage.css' %}">
<script src="{% static 'Sales/javascript/homepage.js' %}" defer></script>
<!-- Button ở dưới cùng -->
<div class="group__btn__tab">
    <button class="btn__tab__link" onclick="open_tab('tab__information', this, 'red')" id="default__open__tab">Information</button>
    <button class="btn__tab__link" onclick="open_tab('tab__account', this, 'green')">Account</button>
    <button class="btn__tab__link" onclick="open_tab('tab__customer', this, 'yellow')">Customer</button>
    <button class="btn__tab__link" onclick="open_tab('tab__contract', this, 'blue')">Contract</button>
    <button class="btn__tab__link" onclick="open_tab('tab__history', this, 'orange')">History</button>
</div>
<!-- Kết thúc các nút -->