{% load static %}

<div class="tab__content" id="tab__information">
    <div class="tab__information__item">
        <p>About</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, magni. Atque exercitationem dicta eius aperiam doloremque nostrum rem. Labore fugiat magnam tenetur nulla culpa unde rerum voluptas eius? Error, accusantium.</p>
    </div>
    <div class="tab__information__item">
        <p>About</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sunt doloremque ipsam reprehenderit culpa explicabo cupiditate beatae sequi minima quos, commodi, autem nulla incidunt nam? Voluptas perspiciatis maiores quod veniam.</p>
    </div>
    <div class="tab__information__item">
        <p>About</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro dolorem nam quos dolor quidem! Voluptates hic tenetur aperiam aliquid, eius quidem earum commodi ullam totam nemo maiores fugit eveniet dolorum?</p>
    </div>
</div>

<div class="tab__content" id="tab__account">

</div>

<div class="tab__content" id="tab__contract">

</div>

<div class="tab__content" id="tab__history">

</div>

<link rel="stylesheet" href="{% static 'Sales/css/homepage.css' %}">
<script src="{% static 'Sales/javascript/homepage.js' %}" defer></script>
<!-- Button ở dưới cùng -->
<div class="group__btn__tab">
    <button class="btn__tab__link" onclick="open_tab('tab__information', this, 'red')" id="default__open__tab">Information</button>
    <button class="btn__tab__link" onclick="open_tab('tab__account', this, 'green')">Account</button>
    <button class="btn__tab__link" onclick="open_tab('tab__contract', this, 'blue')">Contract</button>
    <button class="btn__tab__link" onclick="open_tab('tab__history', this, 'orange')">History</button>
</div>
<!-- Kết thúc các nút -->