{% load static %}

<link rel="stylesheet" href="{% static 'Sales/css/homepage.css' %}">

{% block sales_content_page %}

{% endblock %}
<!-- Button ở dưới cùng -->
<div class="group__btn__tab">
    <a class="btn__tab__link" href="{% url 'Sales_app:Sales_homepage' %}" id="default__open__tab">Information</a>
    <a class="btn__tab__link" href="{% url 'Sales_app:Sales_account' %}">Account</a>
    <a class="btn__tab__link" href="{% url 'Sales_app:Sales_customer' %}" id="open__customer__tab">Customer</a>
    <a class="btn__tab__link" href="{% url 'Sales_app:Sales_contract' %}" id="open__contract__tab">Contract</a>
    <a class="btn__tab__link" href="#">History</a>
</div>
<!-- Kết thúc các nút -->