{% load static %}

<div class="tab__content" id="tab__information">
    <div class="tab__information__item">
        <p class="information__item__title">About</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, magni. Atque exercitationem dicta eius aperiam doloremque nostrum rem. Labore fugiat magnam tenetur nulla culpa unde rerum voluptas eius? Error, accusantium.</p>
    </div>
    <div class="tab__information__item">
        <p class="information__item__title">About</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sunt doloremque ipsam reprehenderit culpa explicabo cupiditate beatae sequi minima quos, commodi, autem nulla incidunt nam? Voluptas perspiciatis maiores quod veniam.</p>
    </div>
    <div class="tab__information__item">
        <p class="information__item__title">About</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque delectus rem, eum consectetur, ipsam optio nobis unde neque error ipsa quas saepe natus praesentium animi. Veritatis accusantium labore reiciendis quidem tenetur enim in aperiam tempore, eaque explicabo rerum nostrum atque impedit corrupti saepe quia deserunt iure. Reprehenderit officia explicabo sunt voluptatem perspiciatis sequi fuga alias laudantium, voluptates deserunt ex pariatur perferendis omnis voluptate adipisci. Id vel expedita rerum perspiciatis optio reiciendis minus quo vero aut nesciunt sed repudiandae animi autem, laudantium doloremque distinctio velit sequi accusamus cumque voluptatem tenetur natus voluptatibus sunt? Nihil repellendus minus corporis corrupti at ullam dolores, autem aliquam ipsa dignissimos omnis doloribus esse aperiam. Facere ducimus minima nam fugit. Cum et dolores nulla consequatur officiis temporibus accusantium, sint est veniam, non vero consectetur neque facere. Dicta vitae sint, obcaecati est, voluptates, quo at voluptate odio laborum vel ipsam assumenda ratione error id itaque non. Dicta, unde nam? Quam quis libero quos, hic nobis voluptatibus nemo mollitia odio obcaecati accusamus! Consequatur illo porro in saepe similique atque deserunt voluptatum veniam praesentium aut. Accusamus labore aspernatur, officiis ipsam quo, impedit, eveniet sunt quisquam dolorem iusto eum. Nam dolor, officiis reiciendis deleniti placeat eaque unde. Ut recusandae modi consequuntur quas repudiandae pariatur suscipit nulla. Alias tempore, odit aut quaerat dolorem numquam inventore et? Temporibus perspiciatis voluptas deserunt facilis nam, aut, recusandae, explicabo maxime corrupti culpa atque laudantium? Enim amet magni esse velit unde saepe? Mollitia ipsa exercitationem nostrum eveniet, quo recusandae cumque eligendi, quae officia voluptas autem ratione dicta tempore tempora? Obcaecati maxime, dignissimos, ea consectetur, eum expedita quaerat reiciendis unde voluptatem voluptatum earum. Unde praesentium numquam minus, aut, at accusantium voluptatibus autem consequatur quod pariatur quibusdam non culpa explicabo illum, eligendi animi veritatis nemo facere ab. Non nostrum unde cumque quia id enim nulla voluptates, pariatur nobis commodi consequatur eveniet rerum, est repudiandae nisi odit temporibus aut esse sit ducimus. Numquam rem neque, a dignissimos voluptas minus, eveniet laudantium architecto quidem ex perspiciatis, esse at. Odit laborum, veritatis alias eum dignissimos ratione corporis facilis dolorem nesciunt possimus recusandae distinctio itaque debitis in reiciendis commodi blanditiis beatae fugiat eligendi eaque nostrum natus aperiam maxime. Obcaecati eligendi ab suscipit vero consequatur. Tempora totam voluptatum porro expedita quod a, sequi sapiente saepe magnam sunt ab, optio dolorum voluptatibus iure ipsum minus rem, similique deleniti modi quaerat atque? Praesentium illum quam vel, inventore quia veritatis delectus natus consequuntur quo excepturi eum quaerat repellat incidunt voluptates debitis eligendi corrupti autem explicabo cum laudantium ea distinctio totam aliquid voluptate. Laudantium impedit, commodi quas illum dolore assumenda. Exercitationem nobis earum distinctio autem sapiente necessitatibus magni, cupiditate, accusantium ad qui perferendis, dolorem voluptas commodi quis? Laboriosam itaque, vel minima quidem nisi dicta reprehenderit non dolor praesentium laudantium, nostrum ullam a. Sequi.</p>
    </div>
</div>

<div class="tab__content" id="tab__account">

</div>

<div class="tab__content" id="tab__contract">

</div>

<div class="tab__content" id="tab__history">

</div>

<link rel="stylesheet" href="{% static 'Sales/css/homepage.css' %}">
<script src="{% static 'Sales/javascript/homepage.js' %}" defer></script>
<!-- Button ở dưới cùng -->
<div class="group__btn__tab">
    <button class="btn__tab__link" onclick="open_tab('tab__information', this, 'red')" id="default__open__tab">Information</button>
    <button class="btn__tab__link" onclick="open_tab('tab__account', this, 'green')">Account</button>
    <button class="btn__tab__link" onclick="open_tab('tab__contract', this, 'blue')">Contract</button>
    <button class="btn__tab__link" onclick="open_tab('tab__history', this, 'orange')">History</button>
</div>
<!-- Kết thúc các nút -->