{% load static %}

<div class="tab__content" id="tab__information">
    
</div>

<div class="tab__content" id="tab__account">

</div>

<div class="tab__content" id="tab__contract">

</div>

<div class="tab__content" id="tab__history">

</div>

<link rel="stylesheet" href="{% static 'Sales/css/homepage.css' %}">
<script src="{% static 'Sales/javascript/homepage.js' %}" defer></script>
<!-- Button ở dưới cùng -->
<div class="group__btn__tab">
    <button class="btn__tab__link" onclick="open_tab('tab__information', this, 'red')" id="default__open__tab">Information</button>
    <button class="btn__tab__link" onclick="open_tab('tab__account', this, 'green')">Account</button>
    <button class="btn__tab__link" onclick="open_tab('tab__contract', this, 'blue')">Contract</button>
    <button class="btn__tab__link" onclick="open_tab('tab__history', this, 'orange')">History</button>
</div>
<!-- Kết thúc các nút -->