{% extends 'Sales/tab_customer.html' %}
{% load static %}

{% block tab_customer_content %}
    <table>
        <tr>
            <th>No.</th>
            <th></th>
        </tr>
    </table>
{% endblock %}