{% extends 'Sales/homepage.html' %}
{% load static %}

{% block sales_content_page %}
    <div class="tab__content" id="tab__account">

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let all_tab = document.getElementsByClassName('btn__tab__link')
            
            for ( let index = 0; index < all_tab.length; index ++){
                all_tab[index].style.backgroundColor = '#555'
            }
            document.getElementById('open__account__tab').style.backgroundColor = 'blue'
        })
    </script>
{% endblock %}
