{% extends 'Sales/tab_customer.html' %}
{% load static %}

{% block add_new_customer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'Sales/javascript/load_division.js' %}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                on_load_province();
            }
        } 
    </script>

    {% if ins_new_customer %}
        <div>
            <p>ins_new_customer</p>
        </div>
    {% endif %}
    <div class="tab__customer-item__content">
        <form method="post">
            {% csrf_token %}
            <div class="form__inner">
                <div class="add__customer-item">
                    <label>Gmail :</label>
                    <input type="text" name="new_customer_gmail">
                </div>
                <div class="add__customer-item">
                    <label>Telephone :</label>
                    <input type="tel" name="new_customer_tel">
                </div>
                <div class="add__customer-item add__customer__division">
                    <div>
                        <label>Province :</label>
                        <select name="new_customer_province" id="choose__province__new__customer" class="new__province__customer__select" onchange="load_district()">
                            <option value="None" selected>Chọn tỉnh</option>
                        </select>
                    </div>
                    <div>
                        <label>District :</label> 
                        <select name="new_customer_district" id="choose__district__new__customer" onchange="load_ward()">
                            <option value="None" selected>Chọn huyện</option>
                        </select>  
                    </div>
                    <div>
                        <label>Ward :</label>
                        <select name="new_customer_ward" id="choose__ward__new__customer">
                            <option value="None" selected>Chọn xã</option>
                        </select>
                    </div>
                </div>
                <div class="add__customer-item">
                    <label>Full name :</label>
                    <input type="text" name="new_customer_full_name">
                </div>
                <div class="add__customer-item">
                    <label>Gender</label>
                    <select name="new_customer_gender">
                        <option value="None">Choose Gender</option>
                        <option value="1">Men</option>
                        <option value="2">Woman</option>
                        <option value="3">Other</option>
                    </select>
                </div>
                <div class="add__customer-item">
                    <label>Type :</label>
                    <select name="new_customer_type">
                        <option value="None">Choose Type :</option>
                        <option value="personal">Personal</option>
                        <option value="company">Company</option>
                    </select>
                </div>
            </div>
            <input type="submit" name="add_new_customer_submit" value="Add">
        </form>
    </div>
{% endblock %}