{% extends 'Sales/homepage.html' %}
{% load static %}

{% block sales_content_page %}
    <link rel="stylesheet" href="{% static 'Sales/css/tab_contract.css' %}">
    <div class="tab__content" id="tab__contract">
        <form method="post">
            {% csrf_token %}
            <div class="tab__contract__title">
                <h1>New Contract</h1>
                <input type="submit" value="Add New">
            </div><hr><br>
            <div class="tab__contract-item">
                <label>Start time :</label>
                <input type="datetime-local" name="input_start_time_contract">
            </div>
            <div class="tab__contract-item">
                <label>End Time :</label>
                <input type="datetime-local" name="input_end_time_contract">
            </div>
            <div class="tab__contract-item">
                <label>Date Sign :</label>
                <input type="datetime-local" name="input_date_sign_contract">
            </div>
            <div class="tab__contract-item">
                <label>Cost :</label>
                <input type="tel" name="input_cost_contract">
            </div>
            <div class="tab__contract-item">
                <label>Link Driver Scan :</label>
                <input type="url" name="input_url_contract">
            </div>
            <div class="tab__contract-item">
                <label>Note :</label>
                <textarea name="input_note_contract"></textarea>
            </div>
            <div class="tab__contract-item">
                <label>Choose Customer :</label>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let all_tab = document.getElementsByClassName('btn__tab__link')
            
            for ( let index = 0; index < all_tab.length; index ++){
                all_tab[index].style.backgroundColor = '#555'
            }
            document.getElementById('open__contract__tab').style.backgroundColor = 'blue'
        })
    </script>
{% endblock %}
