{% extends 'Sales/homepage.html' %}
{% load static %}

{% comment %}{% static 'Sales/javascript/tab_customer.js' %}{% endcomment %}
{% block sales_content_page %}
    <div class="option__tab__customer">
        <a class="option__tab__customer-item" href="{% url 'Sales_app:Sales_add_new_customer' %}">Add new customer</a>
        <a class="option__tab__customer-item" href="#">Show all customer</a>
    </div>
    <link rel="stylesheet" href="{% static 'Sales/css/tab_customer.css' %}">
    <div class="tab__content" id="tab__customer">
        {% block tab_customer_content %}

        {% endblock %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let all_tab = document.getElementsByClassName('btn__tab__link')
            console.log(all_tab.length)
            for ( let index = 0; index < all_tab.length; index ++){
                all_tab[index].style.backgroundColor = '#555'
            }
            document.getElementById('open__customer__tab').style.backgroundColor = 'green'
        })
    </script>
{% endblock %}