{% extends 'Sales/tab_customer.html' %}
{% load static %}

{% block tab_customer_content %}
    <link rel="stylesheet" href="{% static 'Sales/css/tab_customer.css' %}">
    <table>
        <tr>
            <th>No.</th>
            <th>ID Customer</th>
            <th>Gmail</th>
            <th>Telephone</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        {% for customer in all_customer %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{customer.id_customer}}</td>
                <td>{{customer.gmail}}</td>
                <td>{{customer.tel}}</td>
                <td>{{customer.full_name}}</td>
                <td>{{customer.gender}}</td>
                <td>{{customer.types}}</td>
                <td>{{customer.status}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}