{% extends 'Sales/tab_customer.html' %}
{% load static %}

{% block tab_customer_content %}
    <form method="post">
        {% csrf_token %}
        <label>Input ID Customer</label>
    </form>
{% endblock %}