<div class="tab__content" id="tab__customer">
    <div class="tab__customer-item__content">
        {% include 'Sales/add_new_customer.html' %}
    </div>
    <div class="tab__customer-item__content">
        
    </div>
</div>