{% extends 'Sales/homepage.html' %}
{% load static %}

{% block sales_content_page %}
    <link rel="stylesheet" href="{% static 'Sales/css/tab_contract.css' %}">
    <div class="tab__content" id="tab__contract">
        <div class="tab__contract__title">
            <h1>New Contract</h1>
            <input type="submit" value="Add New">
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let all_tab = document.getElementsByClassName('btn__tab__link')
            
            for ( let index = 0; index < all_tab.length; index ++){
                all_tab[index].style.backgroundColor = '#555'
            }
            document.getElementById('open__contract__tab').style.backgroundColor = 'blue'
        })
    </script>
{% endblock %}
