{% extends 'Sales/tab_customer.html' %}
{% load static %}

{% block tab_customer_content %}
    <table>
        <tr>
            <th>No.</th>
            <th>ID Customer</th>
            <th>Gmail</th>
            <th>Telephone</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        {% for customer in all_customer %}
            {{customer}}
        {% endfor %}
    </table>
{% endblock %}