* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.pre-header__inner {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hotline__pre-header {
    display: flex;
    align-items: center;
}

.icon__hotline__pre-header {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

#icon__telephone__pre-header {
    width: 16px;
    margin-right: 5px;
}

#hotline__title__pre-header {
    letter-spacing: -3px;
}