* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

.pre-header__inner {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hotline__pre-header {
    display: flex;
    align-items: center;
}

.icon__hotline__pre-header {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

#icon__telephone__pre-header {
    width: 16px;
    margin-right: 5px;
}

#hotline__number-text {
    font-weight: bold;
}

.option__pre-header {
    display: flex;
    align-items: center;
}

.links__pre-header {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-right: 5px;
    border-right: 1px solid black;
}

.link__item__pre-header {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
    text-decoration: none;
    color: black;
}

.pre-header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--color-five-30);
}

.language__pre-header {
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.btn__language__pre-header {
    background-color: transparent;
    border: none;
    outline: none;
}

.btn__language__pre-header strong {
    font-size: 12px;
    color: white;
    padding: 15px;
}

.btn__language__pre-header:hover{
    cursor: pointer;
    filter: opacity(0.7);
    outline: 1px solid black;
}

.links__language__pre-header {
    padding-left: 5px;
    padding-right: 5px;
}

#vie__language__pre-header {
    background-color: var(--color-one);
}

#eng__language__pre-header {
    background-color: var(--color-four);
}

#search__input__pre-header {
    font-size: 12px;
    padding: 5px;
}

.logo__homepage {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo__img {
    width: 100px;
}

#slogan__company__text {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.why__choose__us {
    width: 85%;
    margin: 15px auto;
}


.why__us__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img__why__us {
    width: 500px;
}

#why__us__title {
    font-size: 30px;
}

.content__why__us {
    width: 40%;
    text-align: right;
}

#why__us__answer {
    color:var(--color-one)
}

.about__us {
    background-color: var(--color-five-30);
}

.about__us__inner {
    width: 85%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 15px;
    padding-bottom: 15px;
}

#img__about__us {
    width: 700px;
}

#about__us__title {
    font-size: 30px;
    font-weight: bold;
}

.about__us__content__item {
    width: 80%;
    margin: 30px 15px;
}