* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

.link__to__homepage {
    margin-left: 15px;
}

.result__search__order {
    width: 80%;
    margin: 15px auto;
    border: 1px solid black;
    padding: 15px 5px;
    border-radius: 5px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
}