* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

.sign__up {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.sign__up__inner {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    border-radius: 15px;
}

.sign__up__input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign__up__item {
    margin-bottom: 15px;
}

#sign__up__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.option__sign__up {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: space-between;
}

.option__links {
    text-decoration: none;
    color: white;
}