* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

.pre-header {
    height: 50px;
    background-color: var(--color-five-30);
    width: 100%;
}

.pre-header__inner {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.option__pre-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.link__item__pre-header {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.btn__language__inner__pre-header {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

#btn__language__vn {
    background-color: var(--color-four);
}

#btn__language__en {
    background-color: var(--color-one);
}

.btn__language__inner__pre-header:hover {
    outline: 1px solid black;
    opacity: 0.7;
}

.btn__language__pre-header {
    border-right: 1px solid black;
    padding-right: 10px;
}

#input__search__pre-header {
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;;
}

.search__pre-header {
    padding-right: 10px;
    border-right: 1px solid black;
}

#log__out__pre-header {
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 15px 0;
}

.menu__item__link {
    text-decoration: none;
    color: black;
}

header {
    border-bottom: 1px solid black;
}

footer {
    background-color: var(--color-five-half);
    width: 100%;
    height: max-content;
}

.footer__inner {
    width: 85%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    text-decoration: none;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

#img__logo__footer {
    width: 100px;
    mix-blend-mode: darken;
}

.footer__social img {
    width: 50px;
}