* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

.pre-header {
    height: 50px;
    background-color: var(--color-five-30);
    width: 100%;
}

.pre-header__inner {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.option__pre-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.link__item__pre-header {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.btn__language__inner__pre-header {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 5px;
    color: white;
}

#btn__language__vn {
    background-color: var(--color-four);
}

#btn__language__en {
    background-color: var(--color-one);
}