* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
    --color-active-btn : rgb(4, 170, 109)
}

.menu__content {
    background-color: black;
}

.menu__content__link {
    color: white;
    text-decoration: none;
}

.active__menu__link {
    background-color: var(--color-active-btn);
}

.unactive__menu__link {
    background-color: black;
}