* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

footer {
    background-color: var(--color-one);
    width: 100%;
}

.footer__inner {
    width: 85%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}