{% load static %}

<link rel="stylesheet" href="{% static 'Dispatcher/css/base_page.css' %}">
<header>
    <div class="header__inner">
        <div class="header__item">
            <p>Hello, ABC</p>
        </div>
        <div class="header__item">
            <a href="#">Tiếp nhận đơn hàng</a>
            <a href="#">Gửi hàng</a>
        </div>
    </div>
</header>