{% load static %}

<link rel="stylesheet" href="{% static 'Dispatcher/css/base_page.css' %}">
<header>
    <div class="header__inner">
        <div class="header__item">
            <p>Hello, ABC</p>
        </div>
        <div class="header__item">
            <a href="{% url 'Dispatcher_app:Dispatcher_get_order' %}" class="header__item__link">Tiếp nhận đơn hàng</a>
            <a href="{% url 'Dispatcher_app:Dispatcher_show_order' %}" class="header__item__link">Đơn hàng</a>
        </div>
    </div>
</header>
<div class="content__base__page">
    {% block content_dispatcher %}

    {% endblock %}
</div>