{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    {% if all_customer %}
        <p>True</p>
    {% else %}
        <p>False</p>
    {% endif %}
{% endblock %}