{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    {% if all_customer %}
        <div>
            <form method="post">
                <label>Choose Customer :</label>
                <select name="select_customer">
                    <option value="None">Choose Customer</option>
                    {% for customer in all_customer %}
                        <option value="{{customer.id}}">Full name : {{customer.full_name}}; ID : {{customer.id_customer}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Find">
            </form>
        </div>
    {% else %}
        <p>{{all_customer}}</p>
    {% endif %}

    {% if all_contract %}
        <div class="show__all__contract-customer">
            <table>
                <tr>
                    <th>No.</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>No contract</th>
                </tr>
                {% for contract in all_contract %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{contract.start_time}}</td>
                        <td>{{contract.end_time}}</td>
                        <td>{{contract.no_contract}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>Có lỗi trong quá trình tìm kiếm. Liên hệ admin để được hỗ trợ</p>
    {% endif %}
{% endblock %}