{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    <link rel="stylesheet" href="{% static 'Dispatcher/css/get_order.css' %}">
    {% if all_customer %}
        <table>
            <tr>
                <th>No.</th>
                <th>Telephone Number</th>
                <th>Gmail</th>
                <th>Country</th>
                <th>Province</th>
                <th>District</th>
                <th>Ward</th>
                <th>Watch Contract</th>
            </tr>
            {% for customer in all_customer %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{customer.tel}}</td>
                    <td>{{customer.gmail}}</td>
                    <td>{{customer.country}}</td>
                    <td>{{customer.province}}</td>
                    <td>{{customer.district}}</td>
                    <td>{{customer.ward}}</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="submit" value="Watch" name="input_submit_{{customer.id}}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{{all_customer}}</p>
    {% endif %}

    {% if all_contract != False %}
        {% if all_contract|length > 0 %}
            <h1>Found {{all_contract|length}} contract.</h1>
            <div class="show__all__contract-customer">
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>No contract</th>
                        <th>Send Order</th>
                    </tr>
                    {% for contract in all_contract %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{contract.start_time}}</td>
                            <td>{{contract.end_time}}</td>
                            <td>{{contract.no_contract}}</td>
                            <td>
                                <a href="{% url 'Dispatcher_app:Dispatcher_send_order' contract.no_contract %}">Send order</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p>Không tìm được hợp đồng nào đang trong trạng thái cần giao hàng</p>
        {% endif %}
        
    {% endif %}
{% endblock %}