{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    <link rel="stylesheet" href="{% static 'Dispatcher/css/get_order.css' %}">
    {% if all_customer %}
        <div>
            <form method="post">
                {% csrf_token %}
                <label>Choose Customer :</label>
                <select name="select_customer">
                    <option value="None">Choose Customer</option>
                    {% for customer in all_customer %}
                        <option value="{{customer.id}}">Full name : {{customer.full_name}}; ID : {{customer.id_customer}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Find" name="submit_choose_customer">
            </form>
        </div>
    {% else %}
        <p>{{all_customer}}</p>
    {% endif %}

    {{all_contract}}
    {% if all_contract != False %}
        {% if all_contract|length > 0 %}
            <div class="show__all__contract-customer">
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>No contract</th>
                        <th>Send Order</th>
                    </tr>
                    {% for contract in all_contract %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{contract.start_time}}</td>
                            <td>{{contract.end_time}}</td>
                            <td>{{contract.no_contract}}</td>
                            <td>
                                <a href="{% url 'Dispatcher_app:Dispatcher_send_order' contract.no_contract %}">Send order</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p>Không tìm được hợp đồng nào đang trong trạng thái cần giao hàng</p>
        {% endif %}
        
    {% endif %}
{% endblock %}