{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    {% if all_customer %}
        <div>
            <form method="post">
                <label>Choose Customer :</label>
                <select name="select_customer">
                    <option value="None">Choose Customer</option>
                    {% for customer in all_customer %}
                        <option value="{{customer.id}}">Full name : {{customer.full_name}}; ID : {{customer.id_customer}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Find">
            </form>
        </div>
    {% else %}
        <p>{{all_customer}}</p>
    {% endif %}
{% endblock %}