{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    {% if all_customer %}
        <div>
            <label>Choose Customer :</label>
            <select name="select_customer">
                <option value="None">Choose Customer</option>
                {% for customer in all_customer %}
                    <option value="{{customer.id}}">{{customer.full_name}}; {{customer.id_customer}}</option>
                {% endfor %}
            </select>
        </div>
    {% else %}
        <p>{{all_customer}}</p>
    {% endif %}
{% endblock %}