{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    <link rel="stylesheet" href="{% static 'Dispatcher/css/send_order.css' %}">
    <script src="{% static 'Dispatcher/javascript/send_order.js' %}"></script>
    <form method="post">
        <div class="form__item get__division">
            <div>
                <label>Province :</label>
                <select name="get_province_sender">
                    <option value="None">Choose Province</option>
                </select>
            </div>
            <div>
                <label>District :</label>
                <select name="get_district_sender">
                    <option value="None">Choose District</option>
                </select>
            </div>
            <div>
                <label>Ward :</label>
                <select name="get_ward_sender">
                    <option value="None">Choose Ward</option>
                </select>
            </div>
        </div>
    </form>
{% endblock %}