{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'Dispatcher/css/send_order.css' %}">
    <script src="{% static 'Dispatcher/javascript/send_order.js' %}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                on_load_province();
                on_load_province_receiver()
            }
        } 
    </script>

    <form method="post">
        {% csrf_token %}
        <div class="form__item get__division">
            <div>
                <label>Province :</label>
                <select name="get_province_sender" class="select__province__sender" id="choose__province__sender" onchange="load_district()">
                    <option value="None">Choose Province</option>
                </select>
            </div>
            <div>
                <label>District :</label>
                <select name="get_district_sender" id = "choose__district__sender" onchange="load_ward()">
                    <option value="None">Choose District</option>
                </select>
            </div>
            <div>
                <label>Ward :</label>
                <select name="get_ward_sender" id="choose__ward__sender">
                    <option value="None">Choose Ward</option>
                </select>
            </div>
            <div>
                <label>Type :</label>
                <select name="get_type_sender">
                    <option value="home">Home</option>
                    <option value="company">Company</option>
                </select>
            </div>
        </div>
        <div class="form__item get__division">
            <div>
                <label>Province :</label>
                <select name="get_province_receiver" class="select__province__receiver" id="choose__province__receiver" onchange="load_district_receiver()">
                    <option value="None">Choose Province</option>
                </select>
            </div>
            <div>
                <label>District :</label>
                <select name="get_district_receiver" id = "choose__district__receiver" onchange="load_ward_receiver()">
                    <option value="None">Choose District</option>
                </select>
            </div>
            <div>
                <label>Ward :</label>
                <select name="get_ward_receiver" id="choose__ward__receiver">
                    <option value="None">Choose Ward</option>
                </select>
            </div>
            <div>
                <label>Type :</label>
                <select name="get_type_receiver">
                    <option value="home">Home</option>
                    <option value="company">Company</option>
                </select>
            </div>
        </div>
        <div class="form__item">
            <label>Choose Driver :</label>
            <select name="get_driver_select">
                <option value="None">Choose Driver</option>
                {% for driver in all_driver %}
                    <option value="{{driver.id}}">Full name : {{driver.full_name}}; ID Driver : {{driver.id_driver}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form__item">
            <label>Departure Time :</label>
            <input type="datetime-local" name="get_departure_time">
        </div>
        <div class="form__item">
            <label>Estimate Time :</label>
            <input type="datetime-local" name="get_estimate_time">
        </div>
        <div class="form__item">
            <label>Note :</label>
            <textarea name="get_note"></textarea>
        </div>
        <div class="form__item">
            <label>Real Time Arrive :</label>
            <input type="datetime-local" name="get_real_time">
        </div>
        <input type="submit" value = 'Send'>
    </form>
{% endblock %}