{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'Dispatcher/css/send_order.css' %}">
    <script src="{% static 'Dispatcher/javascript/send_order.js' %}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                on_load_province();
            }
        } 
    </script>

    <form method="post">
        {% csrf_token %}
        <div class="form__item get__division">
            <div>
                <label>Province :</label>
                <select name="get_province_sender" class="select__province__sender" id="choose__province__sender" onchange="load_district()">
                    <option value="None">Choose Province</option>
                </select>
            </div>
            <div>
                <label>District :</label>
                <select name="get_district_sender" id = "select__district__sender" onchange="load_ward()">
                    <option value="None">Choose District</option>
                </select>
            </div>
            <div>
                <label>Ward :</label>
                <select name="get_ward_sender" id="select__ward__sender">
                    <option value="None">Choose Ward</option>
                </select>
            </div>
        </div>
    </form>
{% endblock %}