{% extends 'Dispatcher/base_page.html' %}
{% load static %}

{% block content_dispatcher %}
    {% if all_order %}
        {% if all_order|length == 0 %}
            <p>Không có đơn hàng nào </p>
        {% else %}
            <table>
                <tr>
                  <th>No.</th>
                  <th>Code Order</th>
                  <th>Departure Time</th>
                  <th>Estimate Time</th>
                  <th>Status</th>  
                </tr>
                {% for order in all_order %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{order.code_order}}</td>
                        <td>{{order.departure_time}}</td>
                        <td>{{order.estimate_time_arrive}}</td>
                        <td>{{order.status}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}