{% extends 'Sales/tab_customer.html' %}
{% load static %}

{% block tab_customer_content %}
    {% if update_status_message %}
        <div>
            <p>{{update_status_message}}</p>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Input ID Customer :</label>
        <input type="text" name = "search_id_customer">
        <select name="select_status_customer">
            <option value="None">Choose Status</option>
            <option value="flow">Flow</option>
            <option value="meeting">Meeting</option>
            <option value="pending">Pending</option>
            <option value="signoff">Signoff</option>
            <option value="recheck">Recheck</option>
        </select>
        <input type="submit">
    </form>
{% endblock %}