{% load static %}

<link rel="stylesheet" href="{% static 'Homepage/css/homepage.css' %}">
<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hotline__pre-header">
            <div class="icon__hotline__pre-header">
                <img alt="telephone icon" src="{% static 'Homepage/images/icons/telephone.png' %}" id="icon__telephone__pre-header">
                <p id="hotline__title__pre-header">Đường dây nóng hỗ trợ</p>
            </div>
            <p id="hotline__number-text">0123 456 789</p>
        </div>
        <div class="option__pre-header">
            <div class="links__pre-header">
                <a href="#" class = "link__item__pre-header">Giới thiệu</a>
                <a href="#" class = "link__item__pre-header">Liên hệ</a>
                <a href="#" class = "link__item__pre-header">Đăng ký</a>
                <a href="#" class = "link__item__pre-header">Đăng nhập</a>
                <div class="language__pre-header">
                    <a href="#" class = "links__language__pre-header">
                        <button type="button" class="btn__language__pre-header" id = "vie__language__pre-header"><strong>VIE</strong></button>
                    </a>
                    <a href="#" class = "links__language__pre-header">
                        <button type="button" class="btn__language__pre-header" id = "eng__language__pre-header"><strong>ENG</strong></button>
                    </a>
                </div>
            </div>
            <input type="search" name = 'pre_header_search' placeholder="Tìm kiếm đơn hàng" id = "search__input__pre-header">
        </div>
    </div>
</div>
<div class="logo__homepage">
    <img alt="logo" src="{% static 'Homepage/images/Logo.png' %}" id = "logo__img">
    <p id="slogan__company__text">Fast - Secure - Cheap</p>
</div>
<hr>
<div class="why__choose__us">
    <div class="why__us__inner">
        <img alt="image slide show" src="{% static 'Homepage/images/pic_2.png' %}" id="img__why__us">
        <div class="content__why__us">
            <h1 id="why__us__title">Tại sao lại lựa chọn chúng tôi ?</h1>
            <p id="why__us__answer">Chúng tôi sẽ mang đến cho các bạn các dịch vụ tốt nhất</p><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur animi vitae quasi tenetur optio atque fugiat at maxime dolorum. Dolorem, repellat? Nisi laboriosam qui, molestias eius ipsum accusantium exercitationem rem tempora dolor autem, officia a! Blanditiis perferendis eum deserunt sit.
            </p><br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium dolorem ipsa inventore facere, veritatis aliquam sed quos voluptatibus illo quam suscipit quo et corrupti nostrum quod magnam nobis, repudiandae modi, commodi exercitationem!</p>
        </div>
    </div>
</div>
<div class="about__us">
    <div class="about__us__inner">
        <div class="about__us__content">
            <p id="about__us__title">Về chúng tôi</p>
            <br>
            <div class="about__us__content__item">
                <p>Nhanh Chóng</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias unde ipsum omnis quia aspernatur nihil est quo accusantium dolor, ex, reiciendis placeat, magnam optio porro minima excepturi dolore ducimus repellendus!</p>
            </div>
        </div>
        <img alt="image" src="{% static 'Homepage/images/pic_3.png' %}" id="img__about__us">
    </div>
</div>