{% load static %}

<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hotline__pre-header">
            <div class="icon__hotline__pre-header">
                <img alt="telephone icon" src="{% static 'Homepage/images/icons/telephone.png' %}">
                <p>Đường dây nóng hỗ trợ</p>
            </div>
            <p class="hotline__number">0123 456 789</p>
        </div>
    </div>
</div>