{% load static %}

<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hotline__pre-header">
            <img alt="telephone icon" src="{% static 'Homepage/images/icons/telephone.png' %}">
        </div>
    </div>
</div>