{% load static %}

<link rel="stylesheet" href="{% static 'Homepage/css/homepage.css' %}">
<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hotline__pre-header">
            <div class="icon__hotline__pre-header">
                <img alt="telephone icon" src="{% static 'Homepage/images/icons/telephone.png' %}" id="icon__telephone__pre-header">
                <p id="hotline__title__pre-header">Đường dây nóng hỗ trợ</p>
            </div>
            <p id="hotline__number-text">0123 456 789</p>
        </div>
        <div class="option__pre-header">
            <div class="links__pre-header">
                <a href="#" class = "link__item__pre-header">Giới thiệu</a>
                <a href="#" class = "link__item__pre-header">Liên hệ</a>
                <a href="#" class = "link__item__pre-header">Đăng ký</a>
                <a href="#" class = "link__item__pre-header">Đăng nhập</a>
                <div class="language__pre-header">
                    <a href="#" class = "links__language__pre-header">
                        <button type="button" class="btn__language__pre-header" id = "vie__language__pre-header"><strong>VIE</strong></button>
                    </a>
                    <a href="#" class = "links__language__pre-header">
                        <button type="button" class="btn__language__pre-header" id = "eng__language__pre-header"><strong>ENG</strong></button>
                    </a>
                </div>
            </div>
            <input type="search" name = 'pre_header_search' placeholder="Tìm kiếm đơn hàng" id = "search__input__pre-header">
        </div>
    </div>
</div>
<div class="logo__homepage">
    <img alt="logo" src="{% static 'Homepage/images/Logo.png' %}" id = "logo__img">
    <p id="slogan__company__text">Fast - Secure - Cheap</p>
</div>
<div class="why__choose__us">
    <div class="why__us__inner">
        <img alt="image slide show" src="{% static 'Homepage/images/pic_2.png' %}" id="img__why__us">
        <div class="content__why__us">
            <h1 id="why__us__title">Tại sao lại lựa chọn chúng tôi ?</h1>
        </div>
    </div>
</div>