{% load static %}

<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hotline__pre-header">
            <div class="icon__hotline__pre-header">
                <img alt="telephone icon" src="{% static 'Homepage/images/icons/telephone.png' %}">
                <p>Đường dây nóng hỗ trợ</p>
            </div>
            <p class="hotline__number">0123 456 789</p>
        </div>
        <div class="option__pre-header">
            <div class="links__pre-header">
                <a href="#">Giới thiệu</a>
                <a href="#">Hỏi đáp</a>
                <a href="#">Liện hệ</a>
                <a href="#">Đăng nhập</a>
            </div>
            <div class="language__pre-header">
                <a href="">
                    <button type="button"><strong>VIE</strong></button>
                </a>
                <a href="">
                    <button type="button"><strong>ENG</strong></button>
                </a>
            </div>
        </div>
    </div>
</div>