{% load static %}

<link rel="stylesheet" href="{% static 'Homepage/css/homepage.css' %}">
<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hotline__pre-header">
            <div class="icon__hotline__pre-header">
                <img alt="telephone icon" src="{% static 'Homepage/images/icons/telephone.png' %}" id="icon__telephone__pre-header">
                <p id="hotline__title__pre-header">Đường dây nóng hỗ trợ</p>
            </div>
            <p id="hotline__number-text">0123 456 789</p>
        </div>
        <div class="option__pre-header">
            <div class="links__pre-header">
                <a href="#" class = "link__item__pre-header">Giới thiệu</a>
                <a href="#" class = "link__item__pre-header">Liên hệ</a>
                <a href="#" class = "link__item__pre-header">Đăng ký</a>
                <a href="#" class = "link__item__pre-header">Đăng nhập</a>
                <div class="language__pre-header">
                    <a href="#" class = "links__language__pre-header">
                        <button type="button" class="btn__language__pre-header" id = "vie__language__pre-header"><strong>VIE</strong></button>
                    </a>
                    <a href="#" class = "links__language__pre-header">
                        <button type="button" class="btn__language__pre-header" id = "eng__language__pre-header"><strong>ENG</strong></button>
                    </a>
                </div>
            </div>
            <input type="search" name = 'pre_header_search' placeholder="Tìm kiếm đơn hàng" id = "search__input__pre-header">
        </div>
    </div>
</div>
<div class="logo__homepage">
    <img alt="logo" src="{% static 'Homepage/images/Logo.png' %}" id = "logo__img">
    <p id="slogan__company__text">Fast - Secure - Cheap</p>
</div>
<hr>
<div class="why__choose__us">
    <div class="why__us__inner">
        <img alt="image slide show" src="{% static 'Homepage/images/pic_2.png' %}" id="img__why__us">
        <div class="content__why__us">
            <h1 id="why__us__title">Tại sao lại lựa chọn chúng tôi ?</h1>
            <p>Chúng tôi sẽ mang đến cho các bạn các dịch vụ tốt nhất</p><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quidem reiciendis corrupti. Fugit eligendi amet quod doloremque ad enim perspiciatis asperiores, consequuntur quos. Illum, et! Cum dolores ad dicta a autem, placeat id adipisci. Praesentium id repudiandae velit atque corporis quis est vitae ut nemo quas ea, eligendi nesciunt laboriosam optio cumque, provident, molestiae vel mollitia veritatis quibusdam. Recusandae deserunt eius eum in voluptatum facilis perspiciatis architecto suscipit numquam obcaecati, doloribus quod assumenda, eaque non? At quod in voluptates iusto, enim ratione odit exercitationem modi nisi, magni sapiente sed veritatis nulla quisquam soluta necessitatibus quos ullam minus quibusdam. Voluptas omnis, aliquid amet molestias voluptatibus quibusdam adipisci, minima qui modi perferendis accusamus nam numquam voluptatem. Vel voluptates ex veniam, perspiciatis quibusdam animi eveniet tenetur ab, dignissimos non dolor nihil architecto exercitationem minima, nam nisi ad veritatis? Eligendi dolore eum minima tempore? Corrupti nesciunt in placeat ducimus reiciendis autem, voluptas rem illum.
            </p>
        </div>
    </div>
</div>