{% load static %}

<link rel="stylesheet" href="{% static 'Homepage/css/login.css' %}">
<!-- TODO : code giao diện tại đây -->
{% if notification_login %}
    <div>
        <p>{{notification_login}}</p>
    </div>
{% endif %}
<div class="login__page">
    <div class="login__inner">
        <form method = 'post'>
            {% csrf_token %}
            <div class="login__input">
                <p id="login__title">Đăng nhập toài khoản</p>
                <div class="login__item">
                    <input type="text" name="user_name_login" placeholder="user name">
                </div>
                <div class="login__item">
                    <input type="password" name="pass_login" placeholder="password">
                </div>
                <div class="login__item">
                    <label>Choose Role :</label>
                    <select name="login_choose_role">
                        <option value="None">Choose Role</option>
                        <option value="driver">Driver</option>
                        <option value="company">Company</option>
                        <option value="sale">Sale</option>
                        <option value="dispatcher">Dispatcher</option>
                        <option value="host">Host</option>
                    </select>
                </div>
                <input type="submit" value="Đăng Nhập">
            </div>
        </form>
    </div>
    <div class="option__login">
        <a href="{% url 'Homepage_app:Homepage_homepage' %}" class="option__links">Homepage</a>
        <a href="#" class="option__links">Contact</a>
        <p id="title__version">V.1.0.0</p>
    </div>
</div>