{% load static %}

<link rel="stylesheet" href="{% static 'Homepage/css/login.css' %}">
<div class="login__page">
    <div class="sign__up__inner">
        <form method = 'post'>
            <div class="sign__up__input">
                <p id="sign__up__title">Đăng ký toài khoản</p>
                <div class="sign__up__item">
                    <input type="text" name="user_name_sign_up" placeholder="user name">
                </div>
                <div class="sign__up__item">
                    <input type="password" name="pass1_sign_up" placeholder="password">
                </div>
                <div class="sign__up__item">
                    <input type="password" name="pass2_sign_up" placeholder="password again">
                </div>
                <input type="submit" value="Đăng ký">
            </div>
        </form>
    </div>
    <div class="option__sign__up">
        <a href="{% url 'Homepage_app:Homepage_homepage' %}" class="option__links">Homepage</a>
        <a href="#" class="option__links">Contact</a>
        <p id="title__version">V.1.0.0</p>
    </div>
</div>