{% load static %}
<link rel="stylesheet" href="{% static 'Homepage/css/search_order.css' %}">
<a href="{% url 'Homepage_app:Homepage_homepage' %}" class="link__to__homepage">Trở về trang chủ</a>
<div class="result__search__order">
    <p>Search order "{{code_order}}". Result :</p><br>
    {% if result_search_order == True %}
        <table>
            <tr>
                <th>Tên trường</th>
                <th>Gía trị</th>
            </tr>
        </table>
    {% else %}
        <p>Có lỗi trong quá trình tìm kiếm. Liên hệ admin để được hỗ trợ</p>
    {% endif %}

</div>