{% load static %}
<link rel="stylesheet" href="{% static 'Homepage/css/search_order.css' %}">
<a href="{% url 'Homepage_app:Homepage_homepage' %}" class="link__to__homepage">Trở về trang chủ</a>
<div class="result__search__order">
    <p>Search order "{{code_order}}". Result :</p><br>{{result_search_order}}
    {% if result_search_order %}
        {% if result_search_order|length == 0 %}
            <p>Không tìm thấy đơn hàng nào có mã giống với mã đã cung cấp</p>
        {% else %}
            <table>
                <tr>
                    <th>Tên trường</th>
                    <th>Gía trị</th>
                </tr>
            </table>
        {% endif %}
    {% elif result_search_order == False %}
        <p>Có lỗi trong quá trình tìm kiếm. Liên hệ admin để được hỗ trợ</p>
    {% endif %}

</div>