{% load static %}
<link rel="stylesheet" href="{% static 'Homepage/css/search_order.css' %}">
<a href="{% url 'Homepage_app:Homepage_homepage' %}" class="link__to__homepage">Trở về trang chủ</a>
<div class="result__search__order">
    <p>Search order "{{code_order}}". Result :</p>
</div>