{% load static %}

<link rel="stylesheet" href="{% static 'Homepage/css/sign_up.css' %}">
<div class="sign__up">
    <div class="sign__up__inner">
        <form method = 'post'>
            <div class="sign__up__input">
                <p id="sign__up__title">Đăng ký toài khoản</p>
                <div class="sign__up__item">
                    <input type="text" name="user_name_sign_up" placeholder="user name">
                </div>
                <div class="sign__up__item">
                    <input type="password" name="pass1_sign_up" placeholder="password">
                </div>
                <div class="sign__up__item">
                    <input type="password" name="pass2_sign_up" placeholder="password again">
                </div>
            </div>
        </form>
    </div>
    <div class="option__sign__up">
        <a href="#">Homepage</a>
        <a href="#">Contact</a>
        <p>V.1.0.0</p>
    </div>
</div>