* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

.ins__driver__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ins__driver__item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ins__driver__division {
    display: flex;
    justify-content: space-between;
}

.notification__new__driver {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px 5px;
    border: 1px solid black;
}