{% extends 'Driver/base_page.html' %}
{% load static %}

{% block content_driver_page %}
    <link rel="stylesheet" href="{% static 'Driver/css/status_order.css' %}">
    <table>
        <tr>
            <th>No.</th>
            <th>Code order</th>
            <th>Date Create</th>
            <th>Departure Time</th>
            <th>Estimate Time</th>
            <th>Status</th>
        </tr>
        {% for order in all_order_success %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{order.code_order}}</td>
                <td>{{order.date_create}}</td>
                <td>{{order.departure_time}}</td>
                <td>{{order.departure_time}}</td>
                <td>{{order.status}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}