* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

.side__bar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.content__side {
    margin-left: 250px;
}

.side__bar__link, .dropdown__btn__employee {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.side__bar__link:hover, .dropdown__btn__employee:hover {
    color: #f1f1f1;
}

.active__link {
    background-color: green;
    color: white;
}

.employee__dropdown {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.employee__dropdown a {
    display: block;
}

.option__link__sidebar {
    position: absolute;
    bottom: 20px;
    padding: 0 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.option__link__sidebar a, .option__link__sidebar p {
    text-decoration: none;
    color: white;
}
