* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

.add__customer__division {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.add__customer-item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form__inner {
    padding: 15px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: var(--color-five-30);
}

input[type='submit']{
    margin-top: 30px;
    position: absolute;
    right: 30px;
}