* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

.btn__tab__link {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 20%;
}

.btn__tab__link:hover {
    background-color: #777;
}

.tab__content {
    display: none;
    padding: 15px;
}

.group__btn__tab {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tab__information__item {
    margin-bottom: 30px;
}

.information__item__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
}

.option__tab__customer {
    display: none;
}