{% load static %}

<link rel="stylesheet" href="{% static 'Host/css/base_page.css' %}">
<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hello__user__title">
            {% if name_host %}
                <p>Hello, {{name_host}}</p>
            {% else %}
                <!-- TODO -->
                <p>Hello, Test</p>
            {% endif %}
        </div>
        <div class="option__pre-header">
            <div class="option__pre-header__links">
                <a href="#" class="link__item__pre-header">Liên Hệ</a>
            </div>
            <div class="btn__language__pre-header">
                <a href="#"><button type='button' class="btn__language__inner__pre-header" id="btn__language__vn">VIE</button></a>
                <a href="#"><button type='button' class="btn__language__inner__pre-header" id="btn__language__en">ENG</button></a>
            </div>
        </div>
        <input type="search" name="input_search_pre_header">
    </div>
</div>