{% load static %}

<link rel="stylesheet" href="{% static 'Host/css/base_page.css' %}">
<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hello__user__title">
            {% if name_host %}
                <p>Hello, {{name_host}}</p>
            {% else %}
                <!-- TODO -->
                <p>Hello, Test</p>
            {% endif %}
        </div>
        <div class="option__pre-header">
            <a href="#">Liên Hệ</a>
            <div class="btn__language__pre-header">
                <a href="#"><button type='button'>VIE</button></a>
                <a href="#"><button type='button'>ENG</button></a>
            </div>
        </div>
    </div>
</div>