{% load static %}

<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hello__user__title">
            {% if name_host %}
                <p>Hello, {{name_host}}</p>
            {% endif %}
        </div>
    </div>
</div>