{% load static %}

<link rel="stylesheet" href="{% static 'Host/css/base_page.css' %}">
<div class="pre-header">
    <div class="pre-header__inner">
        <div class="hello__user__title">
            {% if name_host %}
                <p>Hello, {{name_host}}</p>
            {% else %}
                <!-- TODO -->
                <p>Hello, Test</p>
            {% endif %}
        </div>
        <div class="option__pre-header">
            <div class="option__pre-header__links">
                <a href="#" class="link__item__pre-header">Liên Hệ</a>
            </div>
            <div class="btn__language__pre-header">
                <a href="#"><button type='button' class="btn__language__inner__pre-header" id="btn__language__vn">VIE</button></a>
                <a href="#"><button type='button' class="btn__language__inner__pre-header" id="btn__language__en">ENG</button></a>
            </div>
            <div class="search__pre-header">
                <input type="search" name="input_search_pre_header" placeholder="Tìm kiếm" id="input__search__pre-header">
            </div>
            <a href="#" id="log__out__pre-header">Log out</a>
        </div>
    </div>
</div>
<header>
    <div class="header__inner">
        <div class="img__logo">
            <img alt="logo" src="{% static 'Host/images/Logo.png' %}">
        </div>
        <div class="menu__header">
            <a href="#" class="menu__item__link">Company</a>
        </div>
    </div>
</header>

<footer>
    <div class="footer__inner">
        <div class="footer__item">
            <a href="#" class="footer__link">Liên hệ</a>
        </div>
        <div class="footer__item">
            <a href="#" class="footer__link">VIE</a>
            <a href="#" class="footer__link">ENG</a>
        </div>
        <div class="footer__item">
            <img alt="logo" src="{% static 'Host/images/Logo.png' %}" id="img__logo__footer">
            <br>
            <p>+0123 456 789</p>
            <p>523A đường Đỗ Xuân Hợp, phường Phước Long B, Quận 9, Tp.HCM</p>
        </div>
    </div>
</footer>