{% extends 'Host/base_page.html' %}
{% load static %}

{% block content_host_page %}
    <link rel="stylesheet" href="{% static 'Host/css/company.css' %}">
    <div class="menu__content">
        <a href="#" class="menu__content__link active__menu__link">Tạo công ty mới</a>
        <a href="#" class="menu__content__link unactive__menu__link">Thống kê</a>
        <a href="#" class="menu__content__link unactive__menu__link">Xuất hóa đơn</a>
    </div>
    {% if notification_ins_new_company %}
        <div class="notification__ins__company">
            <p>{{notification_ins_new_company}}</p>
        </div>
    {% endif %}
    <div class="create__new__company">
        <form method="post">
            {% csrf_token %}
            <div class="new__company__inner">
                <div class="new__company__item">
                    <label>Tên đăng nhập :</label>
                    <input type="text" name="input_user_name_new_company">
                </div>
                <div class="new__company__item new__password__new__company">
                    <div>
                        <label>Nhập mật khẩu : </label>
                        <input type="password" name="input_pass_new_company">
                    </div>
                    <div>
                        <label>Nhập lại mật khẩu : </label>
                        <input type="password" name="input_pass_again_new_company">
                    </div>
                </div>
                <div class="new__company__item">
                    <label>Tên công ty :</label>
                    <input type="text" name="input_name_new_company">
                </div>
                <div class="new__company__item new__company__division">
                    <div class="new__company__province">
                        <label>Tỉnh :</label>
                        <select name="select_province_new_company">
                            <option value="None">Choose Province</option>
                        </select>
                    </div>
                    <div class="new__company__district">
                        <label>Huyện :</label>
                        <select name="select_district_new_company">
                            <option value="None">Choose District</option>
                        </select>
                    </div>
                    <div class="new_company_ward">
                        <label>Phường :</label>
                        <select name="select_ward_new_company">
                            <option value="None">Choose Ward</option>
                        </select>
                    </div>
                </div>
                <div class="new__company__item">
                    <label>Mã số thuế : </label>
                    <input type="text" name="input_tin_new_company">
                </div>
                <div class="new__company__item">
                    <label>Gmail : </label>
                    <input type="text" name="input_gmail_new_company">
                </div>
                <div class="new__company__item">
                    <label>Telephone : </label>
                    <input type="tel" name="input_tel_new_company">
                </div>
                <div class="new__company__item">
                    <label>Số toài khoản nâng hàng</label>
                    <input type="text" name="input_account_bank_new_company">
                </div>
                <div class="new__company__item">
                    <label>Ngân hàng :</label>
                    <select name="input_name_bank_new_company">
                        <option value="None"></option>
                        <option value="vietcombank">Vietcombank</option>
                        <option value="techcombank">Techcombank</option>
                    </select>
                </div>
                <div class="new__company__item">
                    <label>Tên chủ công ty : </label>
                    <input type="text" name="input_name_boss_new_company">
                </div>
                <div class="new__company__item">
                    <label>Nhập tên người liên hệ : </label>
                    <input type="text" name="input_name_contact_person_new_company">
                </div>
                <div class="new__company__item">
                    <label>Nhập số điện thoại người liên hệ :</label>
                    <input type="text" name="input_tel_contact_person_new_company">
                </div>
                <div class="new__company__item">
                    <label>Nhập gmail người liên hệ :</label>
                    <input type="text" name="input_gmail_contact_person_new_company">
                </div>
                <div class="new__company__item">
                    <label>Đường dẫn trang web :</label>
                    <input type="url" name="input_url_contact_person_new_company">
                </div>
            </div>
            <input type="submit" value="Tạo mới">
        </form>
    </div>

{% endblock %}