{% extends 'Host/base_page.html' %}
{% load static %}

{% block content_host_page %}
    <link rel="stylesheet" href="{% static 'Host/css/company.css' %}">
    <div class="menu__content">
        <a href="#" class="menu__content__link active__menu__link">Tạo công ty mới</a>
        <a href="#" class="menu__content__link unactive__menu__link">Thống kê</a>
        <a href="#" class="menu__content__link unactive__menu__link">Xuất hóa đơn</a>
    </div>
    <div class="create__new__company">
        <div class="new__company__inner">
            <div class="new__company__item">
                <label>Name Company</label>
                <input type="text" name="input_name_new_company">
            </div>
        </div>
    </div>

{% endblock %}