{% extends 'Host/base_page.html' %}


{% block content_host_page %}

    <div class="menu__content">
        <a href="#">Tạo công ty mới</a>
        <a href="#">Thống kê</a>
        <a href="#">Xuất hóa đơn</a>
    </div>

{% endblock %}