{% extends 'Host/base_page.html' %}
{% load static %}

{% block content_host_page %}
    <link rel="stylesheet" href="{% static 'Host/css/company.css' %}">
    <div class="menu__content">
        <a href="#" class="menu__content__link active__menu__link">Tạo công ty mới</a>
        <a href="#" class="menu__content__link unactive__menu__link">Thống kê</a>
        <a href="#" class="menu__content__link unactive__menu__link">Xuất hóa đơn</a>
    </div>
    <div class="create__new__company">
        <div class="new__company__inner">
            <div class="new__company__item">
                <label>Name Company</label>
                <input type="text" name="input_name_new_company">
            </div>
            <div class="new__company__item new__company__division">
                <div class="new__company__province">
                    <label>Province</label>
                    <select name="select_province_new_company">
                        <option value="None">Choose Province</option>
                    </select>
                </div>
                <div class="new__company__district">
                    <label>District</label>
                    <select name="select_district_new_company">
                        <option value="None">Choose District</option>
                    </select>
                </div>
                <div class="new_company_ward">
                    <label>Ward</label>
                    <select name="select_ward_new_company">
                        <option value="None">Choose Ward</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

{% endblock %}