{% extends 'Host/base_page.html' %}
{% load static %}

{% block content_host_page %}
    <link rel="stylesheet" href="{% static 'Host/css/company.css' %}">
    <div class="menu__content">
        <a href="#">Tạo công ty mới</a>
        <a href="#">Thống kê</a>
        <a href="#">Xuất hóa đơn</a>
    </div>

{% endblock %}