{% extends 'Host/base_page.html' %}
{% load static %}

{% block content_host_page %}
    <link rel="stylesheet" href="{% static 'Host/css/company.css' %}">
    <div class="menu__content">
        <a href="#" class="menu__content__link active__menu__link">Tạo công ty mới</a>
        <a href="#" class="menu__content__link unactive__menu__link">Thống kê</a>
        <a href="#" class="menu__content__link unactive__menu__link">Xuất hóa đơn</a>
    </div>

{% endblock %}