{% extends 'Company/homepage.html' %}
{% load static %}

{% block content_company_page %}
    <link rel="stylesheet" href="{% static 'Company/css/dispatcher.css' %}">
    <form method="post">
        <div class="new__dispatcher__title">
            <h1>Add New Dispatcher</h1>
            <input type="submit" value="Add New">
        </div>
    </form>
{% endblock %}