{% extends 'Company/homepage.html' %}
{% load static %}

{% block content_company_page %}
    <link rel="stylesheet" href="{% static 'Company/css/dispatcher.css' %}">
    <form method="post">
        {% csrf_token %}
        <div class="new__dispatcher__title">
            <h1>Add New Dispatcher</h1>
            <input type="submit" value="Add New">
        </div><hr>
        <div class="new__dispatcher__item">
            <label>User Name :</label>
            <input type="text" name="username_new_dispatcher">
        </div>
    </form>
{% endblock %}