{% extends 'Company/homepage.html' %}
{% load static %}

{% block content_company_page %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'Company/javascript/load_division.js' %}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                on_load_province();
            }
        } 
    </script>

    <link rel="stylesheet" href="{% static 'Company/css/dispatcher.css' %}">
    <form method="post">
        {% csrf_token %}
        <div class="new__dispatcher__title">
            <h1>Add New Dispatcher</h1>
            <input type="submit" value="Add New">
        </div><hr>
        <div class="new__dispatcher__item">
            <label>User Name :</label>
            <input type="text" name="username_new_dispatcher">
        </div>
        <div class="new__dispatcher__item">
            <label>Password :</label>
            <input type="password" name="password_new_dispatcher">
        </div>
        <div class="new__dispatcher__item">
            <label>Gmail :</label>
            <input type="text" name="gmail_new_dispatcher">
        </div>
        <div class="new__dispatcher__item">
            <label>Telephone :</label>
            <input type="tel" name="tel_new_dispatcher">
        </div>
        <div class="new__dispatcher__item">
            <label>Gender :</label>
            <select name="gender_new_dispatcher">
                <option value="None">Choose Gender</option>
                <option value="men">Men</option>
                <option value="woman">Woman</option>
                <option value="other">Other</option>
            </select>   
        </div>
        <div class="new__dispatcher__item new__dispatcher__division">
            <div>
               <label>Province :</label> 
               <select name="province_new_dispatcher" id="choose__province__new__dispatcher" class="new__province__dispatcher__select" onchange="load_district()">
                    <option value="None">Choose Province</option>
               </select>
            </div>
            <div>
                <label>District :</label>
                <select name="district_new_dispatcher">
                    <option value="None">Choose District</option>
                </select>
            </div>
            <div>
                <label>Ward :</label>
                <select name="ward_new_dispatcher">
                    <option value="None">Choose Ward</option>
                </select>
            </div>
        </div>
    </form>
{% endblock %}