{% extends 'Company/homepage.html' %}
{% load static %}

{% block content_company_page %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'Company/javascript/load_division.js' %}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                on_load_province();
            }
        } 
    </script>
    <link rel="stylesheet" href="{% static 'Company/css/driver.css' %}">
    <form method='post'>
        <div class="ins__driver__title">
            <h1>Add New Driver</h1>
            <input type="submit" value="Add New">
        </div><hr>
    </form>
{% endblock %}