{% extends 'Company/homepage.html' %}
{% load static %}

{% block content_company_page %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'Company/javascript/load_division.js' %}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                on_load_province();
            }
        } 
    </script>
    <link rel="stylesheet" href="{% static 'Company/css/driver.css' %}">
    <form method='post'>
        <div class="ins__driver__title">
            <h1>Add New Driver</h1>
            <input type="submit" value="Add New">
        </div><hr>
        <div class="ins__driver__item">
            <label>User name :</label>
            <input type="text" name="input_new_username">
        </div>
        <div class="ins__driver__item">
            <label>Password :</label>
            <input type="password" name="input_new_pass">
        </div>
        <div class="ins__driver__item">
            <label>Full name :</label>
            <input type="text" name="input_new_full_name">
        </div>
        <div class="ins__driver__item">
            <label>Gmail :</label>
            <input type="text" name="input_new_gmail">
        </div>
        <div class="ins__driver__item">
            <label>Telephone :</label>
            <input type="tel" name="input_new_tel">
        </div>
        <div class="ins__driver__item ins__driver__division">
            <div>
                <label>Province :</label>
                <select name="select_new_province">
                    <option value="None">Choose Province</option>
                </select>
            </div>
            <div>
                <label>District :</label>
                <select name="select_new_district">
                    <option value="None">Choose District</option>
                </select>
            </div>
            <div>
                <label>Ward :</label>
                <select name="select_new_ward">
                    <option value="None">Choose Ward</option>
                </select>
            </div>
        </div>
        <div class="ins__driver__item">
            <label>Gender :</label>
            <select name="ins_new_gender">
                <option value="None">Choose Gender</option>
                <option value="men">Men</option>
                <option value="woman">Woman</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="ins__driver__item">
            <label>Level License :</label>
            <select name="ins_new_level_license">
                <option value="None">Choose Level License</option>
                <option value="A1">A1</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
            </select>
        </div>
    </form>
{% endblock %}