{% load static %}

<link rel="stylesheet" href="{% static 'Company/css/homepage.css' %}">
<script src="{% static 'Company/javascript/homepage.js' %}" defer></script>
<div class="side__bar">
    <a href="#" class="side__bar__link">About</a>
    <a href="#" class="side__bar__link">Contact</a>
    <a href="#" class="side__bar__link">Static</a>
    <button type="button" class="dropdown__btn__employee">Employee</button>
    <div class="employee__dropdown">
        <a href="#">Sale</a>
        <a href="#">Dispatcher</a>
    </div>
</div>
<div class="option__link__sidebar">
    <a href="#" class="ttt">Log out</a>
    <p>V 1.0.0</p>
</div>