{% load static %}

<link rel="stylesheet" href="{% static 'Company/css/homepage.css' %}">
<div class="side__bar">
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Static</a>
    <button type="button" class="dropdown__btn__employee">Employee</button>
    <div class="employee__dropdown">
        <a href="#">Sale</a>
        <a href="#">Dispatcher</a>
    </div>
</div>