{% extends 'Company/homepage.html' %}
{% load static %}

{% block content_company_page %}
    <link rel="stylesheet" href="{% static 'Company/css/sale.css' %}">
    <div class="create__new__sale">
        <h1>New Sale</h1>
        <hr><br>
        <div class="new__sale-item">
            <label>User name :</label>
            <input type="text" name="new_sale_username">
        </div>
        <div class="new__sale-item">
            <label>Password :</label>
            <input type="password" name="new_sale_password">
        </div>
    </div>
{% endblock %}