{% extends 'Company/homepage.html' %}
{% load static %}

{% block content_company_page %}
    <link rel="stylesheet" href="{% static 'Company/css/sale.css' %}">
    <div class="create__new__sale">
        <h1>New Sale</h1>
        <hr><br>
        <div class="new__sale-item">
            <label>User name :</label>
            <input type="text" name="new_sale_username">
        </div>
        <div class="new__sale-item">
            <label>Password :</label>
            <input type="password" name="new_sale_password">
        </div>
        <div class="new__sale-item">
            <label>Gmail :</label>
            <input type="text" name="new_sale_gmail">
        </div>
        <div class="new__sale-item">
            <label>Telephone :</label>
            <input type="tel" name="new_sale_tel">
        </div>
        <div class="new__sale-item">
            <label>Gender :</label>
            <select name="new_sale_gender">
                <option value="None">Choose Gender</option>
                <option value="1">Men</option>
                <option value="2">Woman</option>
                <option value="3">Other</option>
            </select>
        </div>
        <div class="new__sale-item">
            <div>
                <label>Province :</label>
                <select name="new_sale_province">
                    <option value="None">Choose Province</option>
                </select>
            </div>
            <div>
                <label>District :</label>
                <select name="new_sale_district">
                    <option value="None">Choose District</option>
                </select>
            </div>
            <div>
                <label>Ward :</label>
                <select name="new_sale_ward">
                    <option value="None">Choose Ward</option>
                </select>
            </div>
            
        </div>
    </div>
{% endblock %}