{% extends 'Company/homepage.html' %}
{% load static %}

{% block content_company_page %}
    <link rel="stylesheet" href="{% static 'Company/css/sale.css' %}">
    <div class="create__new__sale">
        <h1>New Sale</h1>

    </div>
{% endblock %}