* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-one : #A8DF8E;
    --color-two : #F3FDE8;
    --color-three : #FFE5E5;
    --color-four : #FFBFBF;
    --color-five : #808080;
    --color-five-half : rgba(128, 128, 128, 0.5);
    --color-five-30 : rgba(128, 128, 128, 0.3);
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 15px 5px;
}

.notification__update__status {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
}